body{
  background: black;
}

h1{
  color: white;
  font-size: 50px;
}

.title{
  text-align: center;
  margin-top: 30%;
}

#menu{
  color: #777;
  margin-top: 5px;
}

#list{
  list-style-type: none;
  color: white;
  margin-left: -34px;
}

.linkNone{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#mail a{
  color: white;
}

#liTalents{
  margin-top: 70px;
  margin-left: 100px;
  color: white;
  list-style-type: none;
}

#titleTalents, #titleContact{
  text-align: center;
}

#liContact{
  font-size: 17px;
  color: white;
  margin-left: 60px;
  margin-top: 70px;
  list-style-type: none;
}

.line{
  background: white;
  border-top: solid #45318c;
}

#marge{
  margin-left: 25px;
}

#parag1{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 70px;
  color: white;
  text-align: justify;
}

#linkCefim{
  text-decoration: none;
  color: white;
}

footer{
  margin-top: 370px;
}
